.flex-container {
    background-color: var(--sandbrown);
    padding: 20px;
}

.home-skill-img-left, .home-skill-img-right {
    /* background-color: var(--testBlue); */
    object-fit: contain;
    padding: 20px;
    box-sizing: border-box;
    width: 33%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-skill-img-left, .home-skill-img-right img {
    /* max-width: 100%;
    height: auto; */
    width: 33%;
    object-fit: contain;
}

.home-skill-content-left, .home-skill-content-right {
    flex: 1;
}