/* .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 84px); 64px from Header and 10 px top and bottom from Content
    background-size: cover;
    background-position: center;
    text-align: center;
} */

/* .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 84px);
    background-size: cover;
    background-position: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
  } */

  .hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px); /* Adjusted for the navbar */
}