.custom-nav .ant-menu-horizontal {
    background-color: var(--treedarkgreen); /* !important to override Ant styles */
    border-bottom: none;
}

.custom-nav .ant-menu-item {
    color: var(--lightgreen);
}

.custom-nav .ant-menu-item-selected,
.custom-nav .ant-menu-item:hover {
    color: var(--backgroundwhite);
    background-color: var(--darkgreen);
}