.ant-menu-horizontal {
    background-color: var(--treedarkgreen);
    border-bottom: none;
}

.ant-menu-item {
    color: var(--lightgreen)
}

.ant-menu-item-selected,
.ant-menu-item:hover {
    color: var(--backgroundwhite);
    background-color: var(--treedarkgreen);
}